.table-refresh{
    min-width: 400px;
    max-width: 1000px;
    font-size: 14px;
    font-family: 'Quicksand',sans-serif;
}

.table-refresh__table{
    border-collapse:collapse ;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-bottom:2px solid #009578 ;
}

.table-refresh__table > thead > tr {
    background:#009578 ;
    color: #ffffff;
    font-weight: bold;

}

.table-refresh__table th
.table-refresh__table td{
    text-align: left;
    padding: 9px 10px;
    font-weight: normal;
       
}

.table-refresh__table tbody tr:nth-of-type(even){
    background-color: #eeeeee;

}

.table-refresh__table__options{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:10px 0 ;
}

.table-refresh__table__options > *:not(:last-child){
    margin-right:12px ;
}


.table-refresh__table__button{
    background: #eeeeee;
    color: #333333;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
};


.table-refresh__table__Button > i{
    font-size: 1.2em;
} 


.table-refresh__table__button--refreshing{
    animation: 0.5s rotate infinite linear;
}

@keyframes rotate {
    to{
        transform: rotate(1trun);
    }
    
}

.table-refresh__label{
    font-size: 0.8em;
    color:#999999 ;
    
}