.table{
    border: 2px solid black;
    width: 400px;
    height: 150px;
    border-collapse: collapse;
    border-bottom: 4px solid rgb(116, 219, 56);
}
th{
    background-color: rgb(75, 189, 47);
}

th,td{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

button{
    margin-top: 20px;
    width: 150px;
    height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(73, 158, 39);
    box-shadow: 5px 10px  5px solid black;
}

button:hover{
    color: white;
    background-color: darkblue;
    box-shadow: 0px  5px 5px #030303
    
}
