#custom-btn{
    padding: 10px;
    color: white;
    background: rgb(36, 141, 36);
    border: 1px solid black;
    border-radius: 5px;
    cursor :pointer;

    
}

#custom-btn:hover{
    background-color: rgb(85, 207, 85);
}

#custom-text{
    margin-left: 10px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;

}

