#number{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: crimson;
}

input button{
    padding: 7px;
    height: 40px;

}

fieldset{
    margin-bottom: 20px;
}

div{
    font-weight: bold;
    color: whitesmoke;
    background-color:blue;
    width: 400px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}
    