body {
    --nav-height: 50px;
  
    padding-top: var(--nav-height);
  }
  
  .nav {
    width: 100%;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    background: #009578;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
  }
  
  .nav__link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
  }
  
  /* The best way to enable css animantion */

  .square{
    display: inline-block;
    width: 75px;
    height: 75px;
    background: #950000;
  }

  .support-hidden{
    transition: opacity 0.5s; 
  }

  .circle{
    display: inline-block;
    width: 75px;
    height: 75px;
    background: #009578;
    border-radius: 50%;
    
  }
  .pulse{
    animation: pulse 0.5s ease-in-out infinite;
  }

  @keyframes pulse {
    0%{
      opacity: 1;
      transform: scale(1);
    }
    50%{
      opacity: 0.5;
      transform: scale(0.75);
    }
    
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }
  .hidden{
    opacity: 0;
  }


  button{
    background-color: blue;
    color: white;
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-family: sans-serif;
  }

  /* download image */

  #myImage{
    height: 250px;
    display: block;
  }

  .button2{
    height: 40px;
    padding: 6px 12px;
    margin: 0.5em 0;
    background: #009578;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
  }