#custom-btn{
    padding: 10px;
    color: white;
    background: rgb(36, 141, 36);
    border: 1px solid black;
    border-radius: 5px;
    cursor :pointer;

    
}

#custom-btn:hover{
    background-color: rgb(85, 207, 85);
}

#custom-text{
    margin-left: 10px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;

}

/* Observer pattern */

.square{
    width: 100px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    background-color: black;
    color: white;
    padding-top: 40px;
    font-size: 50px;
    border-radius: 10px;
    font-family: sans-serif;
}

